<%- include('../partials/header') %>
    <div class="container"><br>
      <h1>Listar Usuários</h1>
      <a>Acesso administrativo</a>
        <hr>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Email</th>
              <th scope="col">Senha</th>
              <th scope="col">Nível de acesso</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>          
            <% users.map(user => { %>             
              <tr>                
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%=user.password%></td>
                <td><%= user.access %></td>
                <td>                  
                  <a type="button" href="/users/editViewUsers/<%= user.id %>" class="btn btn-outline-primary">Editar</a>
                  <a type="button" href="/users/deleteUsers/<%= user.id %>" class="btn btn-outline-danger">Deletar</a>                
                </td>
              </tr>                              
            <% }) %>                          
          </tbody>            
          </table>
        <hr>
    </div><!-- /.container -->
    <%- include('../partials/footer') %>